.timeCell {
    border: 1.5px dashed #b8ece1;
    display: inline-block;
    background-color: #e7f8f5;
    color: #145D82;
    margin: 5px;
    padding: 5px;
    text-align: center;
    overflow: hidden;
    vertical-align: top;
    width: 30%;

}

.stop {
    font-weight: bold;
    text-decoration: underline;
}

.minutes {
    font-size: 1.25em;
    margin-top: 2px;
}